.top-container {
  background-color: #bdc7c9;
  position: relative;
  padding: 100px;
}
.profile{
  padding-bottom: 50px;
}
.skills{
  padding-top: 50px;
  padding-bottom: 30px;
}
.contact-me{
  padding: 50px 0;
}
.bottom-container{
  background-color: #bdc7c9;
  margin: 0;
  padding-top: 30px;
}
.cr{
  margin: 0;
  padding: 40px;
  color: #845460;
  font-size: 0.75rem;
}
.footer-link{
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #845460;
}
a:hover{
  color: white;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 5.625rem;
  color: #2b4f60;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #2b4f60;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #845460;
}
hr{
  border-style: dotted;
  width: 5%;
  border-width: 5px 0 0;
  border-color: grey;
}
.top-cloud {
  position: absolute;
  top: 50px;
  right: 400px;
}

.bottom-cloud {
  position: absolute;
  bottom: 400px;
  left: 400px;
  color: #845460;
}
.engineer{
  font-weight: normal;
}
.skill-row{
  width: 50%;
  margin: 50px auto;
  text-align: left;
  line-height: 2;
}
.pizza-img{
  width: 20%;
  float: left;
  margin-right: 30px;
}
.bike-img{
  width: 20%;
  float: right;
  margin-left: 30px;
}
.pro-pic{
  padding-top: 30px;
}
.intro{
  width: 40%;
  margin: auto;
}
.cme{
  width: 40%;
  margin: auto;
}
.btn {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   font-weight: 500;
   padding: 10px;
   background-color: #BDC7C9;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 30px;
}

.btn:hover {
   border: solid #2B4F60 0;
   background: #2B4F60;
   background-image: -webkit-linear-gradient(top, #2B4F60, #2B4F60);
   background-image: -moz-linear-gradient(top, #2B4F60, #2B4F60);
   background-image: -ms-linear-gradient(top, #2B4F60, #2B4F60);
   background-image: -o-linear-gradient(top, #2B4F60, #2B4F60);
   background-image: -webkit-gradient(to bottom, #2B4F60, #2B4F60);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
